*{
	margin: 0;
	padding: 0;
}

body{
	background: #098C5C;
}


.navBar{
	float: left;
	height: 100%;
	width: 20%;
	text-align: center;
	background: url("../img/navbg.jpeg");
	background-size: contain;
	position: fixed;
	box-shadow: 2px 2px 10px #000;
	transition: all ease-in-out 300ms;
	z-index: 99;
}

.navCon{
	margin-top: 50px;
}

.img-con{
	height: 200px;
	width: 200px;
	background: url("../img/logo.jpg");
	background-size: contain;
	margin: 0 auto;
	border-radius: 20px;
	box-shadow: 2px 2px 4px #000;
}

.navCon > nav ul li a{
	text-decoration: none;
	display: block;
	color: #fff;
	padding-top: 10px;
	letter-spacing: 2px;
	padding-bottom: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 15px;
	font-weight: bolder;
	text-shadow: 2px 2px 4px #000;
	border-radius: 20px;
	transition: all ease-in-out 300ms;

}

.navCon > nav ul li{
	border-radius: 20px;
	width: 200px;
	margin: 0 auto;
	list-style-type: none;
	margin-bottom: 10px;
	background: #3AB283;
	box-shadow: 2px 2px 4px #000;
}

.navCon > nav{
	margin-top: 30px;
}

.home,
.services,
.projects,
.gallery,
.contact{
	margin-left: 20%;
	transition: all ease-in-out 300ms;
	outline: none;
}

.home,
.services,
.projects,
.gallery{
	margin-bottom: 20px;
}

.services,
.projects,
.gallery{
	background: url("../img/conbg.jpg");
	font-family: 'Pacifico', cursive;
	background-size: cover;
}


.services,
.projects,
.gallery{
	height: 400px;
	font-size: 2em;
	padding-left: 30px;
	padding-top: 20px;
	font-weight: bolder;
	transition: all ease-in-out 300ms;
}

.home,
.contact{
	height: 900px;
	background: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	transition: all ease-in-out 300ms;
}

.projects{
	background: url("../img/bg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 900px;
	transition: all ease-in-out 300ms;
	color: #fff;
	text-shadow: 3px 3px 5px #000;
}

.fixed{
	background-attachment: fixed;
}


.title{
	border-radius: 50px;
	width: 30%;
	text-align: center;
	margin: auto;
	top: 35%;
	bottom: 50%;
	position: relative;
	padding: 30px 0;
	background: rgba(63,155,126,0.5);
	box-shadow: 2px 2px 10px #000;
}

.title > h1{
	font-size: 4em;
	font-family: 'Pacifico', cursive;
	text-shadow: 2px 2px 4px #000;
	color: #fff;
}

.title > h1 > span,
.contact-us > h2 > span{
	color: #3AB283;
	text-shadow: 2px 2px 4px #000;
}

.title > h3{
	font-family: 'Indie Flower', cursive;
	color: #fff;
	text-shadow: 2px 2px 4px #000;
}

.contact > .contact-us{
	border-radius: 50px;
	width: 30%;
	margin: auto;
	text-align: center;
	top: 15%;
	bottom: 50%;
	position: relative;
	padding: 30px 0;
	background: rgba(63,155,126,0.5);
	box-shadow: 2px 2px 10px #000;
	font-size: 25px;
	font-family: 'Indie Flower', cursive;
	color: #fff;
	text-shadow: 2px 2px 4px #000;
}

.contact-us > h2{
	font-family: 'Pacifico', cursive;
	color: #fff;
	text-shadow: 2px 2px 4px #000;

}

.contact-us > textarea,
.contact-us > label > input{
	resize: none;
	outline: none;
	background: #98BFB7;
}

.contact-us > label > input{
	height: 25px;
}


.contact-us > .btn{
	padding: 5px 20px 5px 20px;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	font-weight: bolder;
	background: #3AB283;
	outline: none;
	margin-top: 15px;
	border-radius: 20px;
	box-shadow: 2px 2px 4px #000;
	cursor: pointer;
	transition: all ease-in-out 300ms;
}

.contact-us > label.messAge,
.contact-us > textarea{
	position: relative;
	top: 10px;

}

.navCon > nav ul li a:hover,
.contact-us > .btn:hover{
	background: #DBF9EF;
	color: #000;
	text-shadow: 2px 2px 4px #fff;
}

p.copyright{
	background: linear-gradient(90deg,
	rgba(255, 255, 255, 0) 0%,
	rgba(255, 255, 255, 0.2) 25%,
	rgba(255, 255, 255, 0.2) 75%,
	rgba(255, 255, 255, 0) 100%);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
	inset 0 0 1px rgba(255, 255, 255, 0.6);
	margin-left: -30px;
	text-align: center;
	margin-top: 400px;
	font-size: 20px
}
/*-------------js additions*/

.fa-times{
	right: 10px;
	top: 10px;
	cursor: pointer;
	position: absolute;
	color: #000;
	transition: all ease-in-out 300ms;
}

.fa-times:hover{
	color: #fff;
}

.opacity_one{
	opacity: 1;
	transition: all ease-in-out 300ms;
}

.hide_menu{
	margin-left: -300px;
	transition: all ease-in-out 300ms;
}

.toggle_menu{
	position: fixed;
	padding: 15px 20px 15px 15px;
	margin-top: 0px;
	color: white;
	cursor: pointer;
	background-color: rgba(63,155,126,0.5);
	opacity: 1;
	z-index: 1;
	font-size: 2em;
	transition: all ease-in-out 300ms;
}

.appear{
	margin-left: 0%;
}

.toggle_menu:hover{
	background: #DBF9EF;
	color: #000;
}


/*------end js additions*/

/*------------media queries*/

@media (max-width : 900px){
	.navCon > nav ul li{
		width: 100px;
		margin-bottom: 20px;
	}

	.navCon > nav ul li a{
		font-size: 15px;
		padding: 10px;
		background: #3AB283;
	}

	.img-con{
		height: 80px;
		width: 80px;
	}

	.services,
	.gallery{
		height: 200px;
		font-size: 20px;
	}

	.home,
	.contact,
	.projects{
		height: 400px;
	}

	.projects{
		font-size: 20px;
	}
	
	.title{
		border-radius: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.title > h1{
		font-size: 25px;
	}

	.contact-us > h2{
		font-size: 25px;
	}

	.contact-us > label{
		font-size: 15px;
	}
	
	.contact-us > label > input{
		height: 15px;
		width: 100px;
	}

	.contact-us > textarea{
		height: 55px;
		width: 100px;
	}

	.contact-us > .btn{
		font-size: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.contact > .contact-us{
		top: 5%;
	}
	
	p.copyright{
		margin-top: 50px;
		font-size: 15px;
	}
}